<!-- output '26%'
<div>
<p>A: {{a | percent}}</p>

<!--output '0,134.950%'-->
<!-- <p>B: {{b | percent:'4.3-5'}}</p>

<!--output '0 134,950 %'-->
<!-- <p>B: {{b | percent:'4.3-5':'fr'}}</p>

<!-- <p>The hero's birthday is {{ birthday | date }}</p>
</div> --> 


<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/login" routerLinkActive="active">First Component</a></li>
    <li><a routerLink="/mainheader" routerLinkActive="active">Second Component</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
